<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thirdpage</title>
</head>
<body>
    <h1>mshia</h1>
    <p>zdarova {{my_name}}, dasareki xoar gekneba?</p>
{% for i in range (10)%}
<p>gamis 2 saatia dzili minda pls</p>
{% endfor %}
<ul>
    <li>check</li>
    <li>meore check</li>
    <li>cota didi ro gamochndes</li>
    <li>magaze vchalichob ra</li>
    <li>rac mtavaria kodi iyos janmrteli tore</li>
    <li>sqess ra mnishvneloba ak</li>
</ul>
</body>
</html>